<form method="POST" enctype="multipart/form-data" novalidate #uploadForm="ngForm" (ngSubmit)="upload()">

  <div class="form-group">
    <label for="artist">Artist</label>
    <input type="text" class="form-control" id="artist" placeholder="Artist" [(ngModel)]="file.artist" #username="ngModel" name="artist">
  </div>

  <div class="form-group">
    <label for="year">Year</label>
    <input type="number" class="form-control" id="year" placeholder="Year" [(ngModel)]="file.year" #year="ngModel" name="year">
  </div>

  <div class="form-group col-md-4">
    <label for="genre">Genre</label>
    <select id="genre" class="form-control" name="genre" [(ngModel)]="file.genre" #genre="ngModel">
      <option>Pop</option>
      <option>Rock</option>
      <option>Jazz</option>
      <option>Classic</option>
    </select>
  </div>

  <div class="custom-file">
    <input type="file" class="custom-file-input" id="validatedCustomFile" name="name" accept="audio/*" [(ngModel)]="file.name" #name="ngModel" required>
    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
    <button type="submit" class="btn btn-primary" name="submit" >Upload</button>
  </div>



</form>
