<div class="container">
  <div class="row">

    <div class="col">
      <a class="btn btn-success" (click)="logout()">Logout</a>

      <div *ngFor="let message of messages">
        {{message}}
      </div>
      <!-- <img [src]="image" /> -->
      <input [(ngModel)]="to" (click)="sendMessageTo()" />
      <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessageTo()" />
      <input [(ngModel)]="path" type="file" id="file" accept="audio/*, image/*" (change)="changeListener($event)">
      <button (click)="sendMessageTo()">Send</button>
      <button (click)="console()">print</button>

      <div class="users" *ngIf="users">
        <div *ngFor="let user of users" (click)="to=user.socketId">
          <div class="rounded" *ngIf="user.online" style="width: .5rem; height: .5rem; background-color: green;display: inline-block;"></div> {{ user.username}}
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row" style="height: 20rem;  width: 14rem; padding-bottom: 2rem;" *ngFor="let user of users">
        <div class="col border" (click)="focus(user.username)" style="height: 17rem; overflow: auto;" >
          <div class="chat-header">{{ user.username | titlecase }}</div>
          <div *ngFor="let chats of user.chats">
              <!-- <div *ngIf="chats.from==username" style="float: right">{{ chats.from }}</div>
              <div *ngIf="chats.from!=username" style="float: left">{{ chats.from }}</div> -->

              <!-- <div *ngIf="!chats.read" style="color: red">{{ chats.from }}: {{ chats.message }}</div>
              <div *ngIf="chats.read">{{ chats.from }}: {{ chats.message }}</div> -->

              <div>
                <div *ngIf="chats.from==user.username" [ngClass]="chats.read?'read':'unread'" class="box sb2"><div *ngIf="chats.message">{{ chats.message }}</div>
                <div *ngIf="chats.base64">
                    <audio *ngIf="chats.audio" controls [src]="chats.base64"></audio>
                    <img *ngIf="chats.image" [src]="chats.base64">
                  </div></div>
                <div *ngIf="chats.from!=user.username" class="box sb1">
                  <div *ngIf="chats.message">{{ chats.message }}</div>
                  <div *ngIf="chats.base64">
                    <audio *ngIf="chats.audio" controls [src]="chats.base64"></audio>
                    <img *ngIf="chats.image" [src]="chats.base64">
                  </div>
                </div>
              </div>

              <!-- <div *ngIf="chats.status=='sent' && chats.read==false">
                  <i class="fas fa-check"></i>
              </div>

              <div *ngIf="chats.status=='sent' && chats.read">
                  <i class="fas fa-check-double"></i>
              </div> -->

              <!-- <div class="box sb1">I'm speech bubble</div>
              <div class="box sb2">I'm speech bubble</div> -->

          </div>

          <div *ngIf="user.chats[user.chats.length - 1].status=='sent' && user.chats[user.chats.length - 1].read==false">
              <i class="fas fa-check"></i>
          </div>

          <div *ngIf="user.chats[user.chats.length - 1].status=='sent' && user.chats[user.chats.length - 1].read">
              <i class="fas fa-check-double"></i>
          </div>

        </div><hr>
      </div>
    </div>

  </div>
</div>
