<div class="container">
  <div class="row">

    <div class="col">
      <a class="btn btn-success" (click)="logout()">Logout</a>

      <div *ngFor="let message of messages">
        {{message}}
      </div>

      <input [(ngModel)]="to" (click)="sendMessageTo()" />
      <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessageTo()" />
      <button (click)="sendMessageTo()">Send</button>

      <div class="users" *ngIf="users">
        <div *ngFor="let user of users" (click)="to=user.socketId">
          <div class="rounded" *ngIf="user.online" style="width: .5rem; height: .5rem; background-color: green;display: inline-block;"></div> {{ user.username}}
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row" style="height: 13rem;" *ngFor="let user of users">
        <div class="col border">
          {{ user.username }}
        </div><hr>
      </div>
    </div>

  </div>
</div>
