.chat-header {
  background-color: cornflowerblue;
  align-content: center;
  text-align: center;
  color: aliceblue;
}

.col {
  margin: 0;
  padding: 0;
}

.box {
  width: 9rem;
  height: auto;
  margin: 10px auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid  #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 6px;
}

.read {

}

.unread {
  color: red;
}

img:hover {
  z-index: 1000000;
  height: 20rem;
  width: 20rem;
  position: absolute;
}
