<div *ngIf="lawnResult">
  <div style="display: block; height: 25rem; width: 25rem;">
    <canvas baseChart width="400" height="400"
      [datasets]="lineChartDataPrecipitation"
      [labels]="lineChartLabels"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>

  <div style="display: block; height: 25rem; width: 25rem;">
      <canvas baseChart width="400" height="400"
        [datasets]="lineChartDataTemperature"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>

</div>
