<!-- <div class="container">

    <div *ngIf="song">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="song">{{song.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ BaseURL + song.image }}" alt={{song.name}}>
        <mat-card-content>
          <p>{{song.artist}}
          </p>
        </mat-card-content>
          <button [routerLink]="['/listensong', prev]"><span class="fa fa-chevron-left fa-lg"><</span></button>
          <button (click)="goBack()">BACK</button>
          <button>LIKE</button>
          <button>SHARE</button>
          <span class="flex-spacer"></span>
          <button [routerLink]="['/listensong', next]"><span class="fa fa-chevron-right fa-lg">></span></button>
      </mat-card>
    </div>
    <div [hidden]="song || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
</div> -->
<div class="card" style="width: 32rem;">
  <img class="card-img-top" src="{{ BaseURL + song.image }}" alt={{song.name}}>
  <div class="card-body">
    <h5 class="card-title" *ngIf="song">{{song.name | uppercase}}</h5>
    <p class="card-text">{{song.artist}}</p>
    <a class="btn btn-primary" [routerLink]="['/listensong', prev]"><span class="fa fa-chevron-left fa-lg"><</span></a>
    <a class="btn btn-primary" (click)="goBack()">BACK</a>
    <a class="btn btn-primary">LIKE</a>
    <a class="btn btn-primary">SHARE</a>
    <span class="flex-spacer"></span>
    <a class="btn btn-primary" [routerLink]="['/listensong', next]"><span class="fa fa-chevron-right fa-lg">></span></a>
  </div>
</div>
