<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter username" name="username" [(ngModel)]="user.username" #username="ngModel" required>
    <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
    <p *ngIf="username.errors?.required">Username is required</p>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
    <p *ngIf="password.errors?.required">Password is required</p>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="remember" name="remember" [(ngModel)]="user.remember">
    <label class="form-check-label" for="remember">Remember Me</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    $('#button').submit(function(e) {
      e.preventDefault();
      // Coding
      $('#myModal').modal('toggle'); //or  $('#IDModal').modal('hide');
      return false;
    });
    </script>
