<form [formGroup]="form">
  <h2>Product List</h2>
  <button *ngIf="true" (click)="addCreds()">Add</button>
  <button (click)="creds.removeAt(-1)">Remove</button>
  <button (click)="showConsole()">Console</button>


  <div formArrayName="entries" *ngFor="let cred of form.controls.entries?.value; let i = index">
    <ng-container [formGroupName]="i">
      <input placeholder="Product Name" formControlName="name">
      <input placeholder="Product SKU" formControlName="SKU">
      <input placeholder="Product Quantity" formControlName="quantity">
    </ng-container>
  </div>

  <div *ngIf="response">
    <div *ngFor="let res of response">
      {{res.name}} {{ res.SKU }} {{ res.quantity }}
    </div>
  </div>
</form>
